@{
    
    var db = Database.Open("EmployeeDirectory");
    var querytest = "SELECT * FROM Departments WHERE id=1";
    var result = db.QuerySingle(querytest);
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Site's Title</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <h1>Name: @result.name</h1>
    </body>
</html>
