@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Employee Directory";

    var db = Database.Open("EmployeeDirectory");
    var empQuery = @"SELECT * FROM employees";
    var empResults = db.Query(empQuery);

    
}

<h1>It's a directory, y'all!</h1>

@foreach(var empResult in empResults){
    <div class="row">
        <div class="col-sm-2 col-md-1">
            <img src="#" height="100" width="75" alt="Placeholder" />
        </div>
        <p>
            <span class="col-sm-2 col-md-1">Name:</span>
            <span class="col-sm-8 col-md-10">@empResult.first_name @empResult.last_name</span>
        </p>
    @{if(empResult.birth_date != null){
        <p>
            <span class="col-sm-2 col-md-1">DOB:</span>
            <span class="col-sm-8 col-md-10">@empResult.birth_date</span>
        </p>      
    }
    }
        <p>
            <span class="col-sm-2 col-md-1">Email:</span>
            <span class="col-sm-8 col-md-10">@empResult.email</span>
        </p>    
    </div>
}