@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Employee Directory";

    var db = Database.Open("EmployeeDirectory");
    var empQuery = @"SELECT * FROM employees";
    var empResults = db.Query(empQuery);
}

<h1>It's a directory, y'all!</h1>

@foreach(var empResult in empResults){
    <div class="row">
        <div class="col-sm-2 col-md-1">
            <img src="#" height="100" width="75" alt="Placeholder" />
        </div>
        <div class="col-sm-2 col-md-1">
            <p>Name:</p>
            <p>DOB:</p>
            <p>Email:</p>
        </div>
        <div class="col-sm-8 col-md-10">
            <p>@empResult.first_name @empResult.last_name</p>
            <p>@empResult.birth_date</p>
            <p>@empResult.email</p>
        </div>
    </div>
}