<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="EmployeeDirectory"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EmployeeDirectory;Integrated Security=False;uid=EmployeeDirectoryUser;password=$qlUser123#;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>